@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sidebarLink {
    @apply text-gray-400 p-2 hover:cursor-pointer hover:bg-white hover:text-gray-700 rounded-lg flex items-center space-x-2;
  }

  .selected {
    @apply bg-gray-600;
  }

  .dashboardTitle {
    @apply text-gray-500 mx-auto max-w-3xl mt-10 mb-5;
  }

  .AppBodyContainer {
    @apply flex-grow max-h-[90vh] mainBody overflow-y-scroll pb-20;
  }
}

.mainBody::-webkit-scrollbar {
  background-color: #2f3339;
  width: 8px;
}

.mainBody::-webkit-scrollbar-thumb {
  background-color: #626e7e;
  border-radius: 12px;
}

.boxShadow-special:hover {
  box-shadow: 10px 10px black;
}
