@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sidebarLink {
    @apply text-gray-400 p-2 hover:cursor-pointer hover:bg-white hover:text-gray-700 rounded-lg flex items-center space-x-2;
  }

  .selected {
    @apply bg-gray-600;
  }

  .dashboardTitle {
    @apply text-gray-500 mx-auto max-w-3xl mt-10 mb-5;
  }

  .AppBodyContainer {
    @apply flex-grow  lg:max-h-screen max-h-[90vh] mainBody overflow-y-scroll pb-20 px-6 sm:px-10 lg:px-0 pt-5 lg:pt-10;
  }

  .coinInfoKey {
    @apply text-sm text-gray-400;
  }

  .coinInfoVal {
    @apply text-sm font-bold text-gray-300;
  }
}

.mainBody::-webkit-scrollbar {
  background-color: #2f3339;
  width: 8px;
}

.mainBody::-webkit-scrollbar-thumb {
  background-color: #626e7e;
  border-radius: 12px;
}

.boxShadow-special:hover {
  box-shadow: 10px 10px black;
}

.coinDesc > h3 {
  margin: 0.5rem 0;
  color: lavender;
  font-size: 18px;
}
